#title {
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat";
  font-weight: bold;
  size: 3rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat";
  font-weight: bold;
  size: 3.5rem;
  line-height: 1.5;
}
h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0%;
}

.title-image {
  width: 60%;
  position: static;
  transform: rotate(25deg);
}
.features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
 
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}
#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3% ;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px

}